<h2 class="text-info">Login</h2>

<!--{{diagnostic}}-->
<form #myForm="ngForm">  <!-- <<<< 1 - add #myForm="ngForm" -->
    <div class="form-group">
        <label for="formGroupExampleInput">User Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput"
               placeholder="User Name"
               [(ngModel)]="currentUser.username" name="username"
               required
        >
        <!-- <<<<<<<<<<<<< add spy-->
        <!--{{spy.className}} -->
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2"
               placeholder="Password"
               [(ngModel)]="currentUser.password" name="password"
               required
               pattern="[E]\d{6}"
               #myPass="ngModel">
        <p [hidden]="myPass.valid || myPass.pristine"
           class="text-danger">
            Password should start with E and then 6 digits
        </p>
    </div>
    <div class="form-group">
        <button [disabled]="!myForm.valid" class="btn btn-info btn-block" (click)="login()">Login</button>
    </div>
</form>